<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="New" [hidHeader]="false">
      <h2 class="mb-4">New ticket</h2>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            {{ newN }}
          </h3>
        </div>

        <div class="col-3 text-right">
          <p class="m-b-0">{{ newP }}%</p>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px">
        <mat-progress-bar mode="determinate" color="warn" value={{newP}}></mat-progress-bar>

      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card cardTitle="Inprogress" [hidHeader]="false">
      <h2 class="mb-4">Inprogress</h2>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center m-b-0">
            {{ inProgressN }}
          </h3>
        </div>
        <div class="col-3 text-right">
          <p class="m-b-0">{{ inProgressP }}%</p>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px">
        <mat-progress-bar mode="determinate" value={{inProgressP}}></mat-progress-bar>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card cardTitle="Treated" [hidHeader]="false">
      <h2 class="mb-4">Treated</h2>
      <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 cl
          ass="f-w-300 d-flex align-items-center m-b-0">
            {{ treatedN }}
          </h3>
        </div>
        <div class="col-3 text-right">
          <p class="m-b-0">{{ treatedP }}%</p>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px">
        <mat-progress-bar mode="determinate" value={{treatedP}}></mat-progress-bar>
      </div>
    </app-card>
  </div>
  <div class="col-xl-4 col-md-6">
  <app-card
      cardTitle="Recent ticket"
      cardClass="Recent-Users"
      blockClass="px-0 py-3"
    >
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr class="unread" *ngFor="let rating of ratingToShow">
              <td>
                              <div class="d-flex flex-start"  >
                                <img
                                  class="rounded-circle shadow-1-strong me-3"
                                  src={{rating.image}}
                                  alt="avatar"
                                  width="60"
                                  height="60"
                                />
                                <div>
                                  <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                      {{rating.Full_name}}
                                    </p>
                                    <a href="#!" class="link-muted"
                                      ><i class="fas fa-pencil-alt ms-2"></i
                                    ></a>
                                  </div>
                                  <p class="mb-0">
                                    <mat-icon>star_border</mat-icon> {{rating.moy | number:'1.1-1'}}
                                  </p>

                                   </div>
                                <br>
                              </div>


              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-xl-8 col-md-6">
    <app-card
      cardTitle="Recent ticket"
      cardClass="Recent-Users"
      blockClass="px-0 py-3"
    >
      <div class="table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr class="unread" *ngFor="let ticket of ticketToShow">
              <td>
                              <div class="d-flex flex-start"  >
                                <img
                                  class="rounded-circle shadow-1-strong me-3"
                                  src={{ticket.image}}
                                  alt="avatar"
                                  width="60"
                                  height="60"
                                />
                                <div>
                                  <div class="d-flex align-items-center mb-3">
                                    <p class="mb-0">
                                      {{ticket.nom}}
                                    </p>
                                    <a href="#!" class="link-muted"
                                      ><i class="fas fa-pencil-alt ms-2"></i
                                    ></a>
                                  </div>
                                  <p class="mb-0">
                                    {{ticket.desc}}
                                  </p>

                                   </div>
                                <br>
                              </div>


              </td>
              <td>
                <h6 class="text-muted">
                  <mat-icon>calendar_today</mat-icon>{{ticket.date_creation}}
                </h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>

</div>

