<div class="top">
<div class="all-prob">

    <div class="center"  *ngIf="loading == 'show'">
        <img class="center" src="assets/YCZH.gif" />
    </div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">

    <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User Name</th>
            <th scope="col">date creation</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{problem[0].type}}</td>
                <td>{{problem[0].description}} </td>
                <td *ngIf="employe  "><select class="form-select" [(ngModel)]="problem[0].statut">
                    <option value="New">New</option>
                    <option value="Inprogress">In progress</option>
                    <option value="Treated">Treated</option>
                  </select></td>
                 
                  <td *ngIf="(user || admin) ">
                     <div *ngIf="problem[0].statut === 'Treated'" class="example-button-container">
                    <button mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                      <mat-icon>done_outline</mat-icon>
                    </button>
                  </div>
  
                  <div *ngIf="problem[0].statut === 'Inprogress'" class="example-button-container">
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
                      <mat-icon>hourglass_empty</mat-icon>
                    </button>
                  </div>
  
                  <div *ngIf="problem[0].statut === 'New'" class="example-button-container">
                    <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                      <mat-icon>visibility_off</mat-icon>
                    </button>
                  </div> </td>
                <td>{{problem.user}}</td>
                <td><span *ngIf="problem[0].date_creation!=null">{{problem[0].date_creation.date | date:'mediumDate'}}</span></td>

                <td><a *ngIf="(employe || admin ) " (click)=update() role="button" class="btn btn-danger" data-toggle="modal">Update</a></td>


        </tr>

        </tbody>
      </table>
    </div>
</div>




<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">
              <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport" style="background-color: #ad655f;" *ngIf="show">
              <section >
                <div class="container my-5 py-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-10">
                      <div class="card text-dark"*ngFor="let report of report">
                        <div class="card-body p-4" >
                          <div class="d-flex flex-start"  >
                            <img
                              class="rounded-circle shadow-1-strong me-3"
                              src={{report.image}}
                              alt="avatar"
                              width="60"
                              height="60"
                            />
                            <div>
                              <h6 class="fw-bold mb-1">{{report.date_creation}}</h6>
                              <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                  {{report.nom}}
                                  <span *ngIf="report.role=='employe'" class="badge bg-primary">{{report.role}}</span>
                                  <span *ngIf="report.role=='admin'" class="badge bg-danger">{{report.role}}</span>
                                </p>
                                <a href="#!" class="link-muted"
                                  ><i class="fas fa-pencil-alt ms-2"></i
                                ></a>
                               
                                
                              </div>
                              <p class="mb-0">
                                {{report.desc}}
                              </p>
                              <a *ngIf="admin" (click)=delete(report.idr) style="color: red; float: right;" class="link-muted"><i class="fas fa-redo-alt ms-2">delete</i></a>
                             <!--  <a (click)=delete(report.id) role="button"  data-toggle="modal">Delete</a> -->
                               </div>
                            <br>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </cdk-virtual-scroll-viewport>


            <div class="center1" *ngIf="user && show ">
              <h3 class="center1">Rate our services :</h3>
              <button mat-icon-button [color]="color" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)" [matTooltip]="ratingId+1" matTooltipPosition="above">
                <mat-icon>
                  {{showIcon(i)}}
                </mat-icon>
              </button>
              
          </div>
          <form *ngIf="employe || admin "  #updateForm="ngForm"  #taskNewForm="ngForm" (ngSubmit)="onSubmit();">
            <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
              <div class="d-flex flex-start w-100">
                <img
                  class="rounded-circle shadow-1-strong me-3"
                  src={{image}}
                  alt="avatar"
                  width="40"
                  height="40"
                />
                <div class="form-outline w-100">
                  <textarea name="description" #description="ngModel" [(ngModel)]="Report.description"  required
                    class="form-control"
                    id="textAreaExample"
                    rows="4"
                    style="background: #fff;"
                  ></textarea>
                </div>
              </div>
              <div class="float-end mt-2 pt-1">

                <input  class="btn btn-primary btn-sm" type="submit" value="Send comment" name="send" [disabled]="!updateForm.form.valid">

              </div>
            </div>

          </form>
   <br><br>
    </div>




  </div>