<br><br><br><br>
<div class="all-prob">

    <div class="center"  *ngIf="loading == 'show'">
        <img class="center" src="assets/YCZH.gif" />
    </div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">

    <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User Name</th>
            <th scope="col">date creation</th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
            <tr>
                
                <td>{{problem[0][0].type}}</td>
                <td>{{problem[0][0].description}}</td>
                <td *ngIf="admin"><select class="form-select" [(ngModel)]="problem[0][0].statut">
                    <option value="New">New</option>
                    <option value="Inprogress">In progress</option>
                    <option value="Treated">Treated</option>
                  </select></td>
                  <td *ngIf="user"><span class="p-2 mb-2 bg-primary text-white "  *ngIf="problem[0][0].statut === 'Inprogress'">
                    Inprogress
                  </span>
                  <span class="p-2 mb-2 bg-success text-white" *ngIf="problem[0][0].statut === 'Treated'">
                    Treated
                  </span>
                  <span class="p-2 mb-2 bg-danger text-white" *ngIf="problem[0][0].statut === 'New'">
                    New
                  </span> </td>
                <td>{{problem[0].user}}</td>
                <td><span *ngIf="problem[0][0].date_creation!=null">{{problem[0][0].date_creation.date | date:'mediumDate'}}</span></td>

                <td><a (click)=update() role="button" class="btn btn-danger" data-toggle="modal">Update</a></td>

        
        </tr>
            
        </tbody>
      </table>
    </div>
</div>

<form #updateForm="ngForm"  #taskNewForm="ngForm" (ngSubmit)="onSubmit();">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Report</label>
    <textarea class="form-control" rows="3" name="description" #description="ngModel" [(ngModel)]="Report.description"  required></textarea>
    <span *ngIf="!description.valid && description.touched">you have to describe your problem</span>
  </div>
  <input type="submit" value="Send" name="send" class="btn btn-success" [disabled]="!updateForm.form.valid">
</form>
