<div class="col-md-12">

    <form #updateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
        <h4>Update Status</h4>
            <mat-form-field appearance="fill">
            <mat-label>status</mat-label>
              <select matNativeControl required>
                  <option value="volvo">New</option>
                  <option value="saab">Treated</option>
                  <option value="mercedes">In Progress</option>
               </select>
            </mat-form-field>
        <input type="submit" value="Update" class="btn btn-primary" />
    </form>

    <form #updateForm2="ngForm" (ngSubmit)="onSubmit()" class="col-md-7 no-padding">
        <h4>Submit Rapport</h4>
        <mat-form-field appearance="fill">
            <mat-label>Titre Rapport</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-label>Content</mat-label>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        <input type="submit" value="submitRap" class="btn btn-primary" />
    </form>
            
</div>