<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body data-spy="scroll" data-target="#navbar-nav-header" class="static-layout">
      <div class="boxed-page">
          <div class="jumbotron d-flex align-items-center" >
    <div class="container text-center">
      <h1 class="display-2 mb-4"><strong>THE NIMSS PROJECT</strong></h1>
      <p>
        The fastest , the strongest and the best internet solution providers in the market
      </p>
      <h2 class="section-title">The easiest way <br>to fix<b> your services problems</b></h2>
    </div>
  </div>	<img class="img2" src="assets/n.png" alt="img 1" width="250" height="250">	
  <section id="gtco-who-we-are" class="bg-white">
      <div class="container">
          <div class="section-content">
              <div class="title-wrap">
  
                  <p class="section-sub-title">Our group provides the best internet solutions , We offer you <br> <strong>Fast And Reliable Platforme ,Real-time response ,Unlimited Requests ,Durable and secure website ,24h Support</strong></p>
                  <h1 class="display-2 mb-4">NIMSS TEAM</h1>
                </div>
              <div class="row text-center">
                  <div class="col-md-4 col-sm-6 ">
                      <img class="rounded-circle" src="" alt="img 1" width="140" height="140">
                      <h5 class="mb-4">SAIF HACHANA</h5>
                      <p>our back/front end developer</p>
                      <p><a class="btn btn-link" href="#" role="button">Contact</a></p>
                  </div>
                  <div class="col-md-4 col-sm-6 ">
                    <img class="rounded-circle" src="assets/nejd.png" alt="img 1" width="140" height="140">
                    <h5 class="mb-4">NEJD BEDOUI</h5>
                    <p>Our Team Leader</p>
                    <p><a class="btn btn-link" href="#" role="button">Contact</a></p>
                </div>
                <div class="col-md-4 col-sm-6 ">
                  <img class="rounded-circle" src="" alt="img 1" width="140" height="140">
                  <h5 class="mb-4">MEHER Ben Salem</h5>
                  <p>our back/front end developer</p>
                  <p><a class="btn btn-link" href="#" role="button">Contact</a></p>
              </div>
              <div class="col-md-4 col-sm-6 ">
                <img class="rounded-circle" src="" alt="img 1" width="140" height="140">
                <h5 class="mb-4">SLIM DRISSI</h5>
                <p>our front end developer</p>
                <p><a class="btn btn-link" href="#" role="button">Contact</a></p>
            </div>
            <div class="col-md-4 col-sm-6 ">
              <img class="rounded-circle" src="" alt="img 1" width="140" height="140">
              <h5 class="mb-4">IHAB KAROUI</h5>
              <p>Our back end developer</p>
              <p><a class="btn btn-link" href="#" role="button">Contact</a></p>
          </div>
          <div class="col-md-4 col-sm-6 ">
            <img class="rounded-circle" src="" alt="img 1" width="140" height="140">
            <h5 class="mb-4">FOUED TLILI</h5>
            <p>our front end developer</p>
            <p><a class="btn btn-link" href="#" role="button">Contact</a></p>


      </div>