<div class="all-prob">
    <div class="center"  *ngIf="loading == 'show'">
        <img class="center" src="assets/YCZH.gif" />
    </div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User ID</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of Test">
                <td>{{user.type}}</td>
                <td>{{user.description}}</td>
                <td>{{user.statut}}</td>
                <td>{{user.id_user}}</td>
                <td><button mat-raised-button color="warn">Edit</button></td>
                <td><button>Delete</button></td>
            </tr>
            
        </tbody>
      </table>
    </div>
</div>