<br><br><br><br>
<div class="all-prob">
    <div class="center"  *ngIf="loading == 'show'">
        <img class="center" src="assets/YCZH.gif" />
    </div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">
    <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">User ID</th>
            <th scope="col">date creation</th>
            <th scope="col"></th>
            <th scope="col"></th>
            
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let problem of Test">
                
                <td>{{problem.type}}</td>
                <td>{{problem.description}}</td>
                <td>{{problem.statut}}</td>
                <td>{{problem.id_user}}</td>
                <td>{{problem.date_creation}}</td>
                
               
              <td >

                <a [routerLink]="['/Details',problem.id]" class="btn btn-warning">Details</a>

            

          </td> 
          <td><a (click)=deleteProb(problem.id) role="button" class="btn btn-danger" data-toggle="modal">Delete</a></td>
        </tr>
            
        </tbody>
      </table>
    </div>
</div>