
<div class="all-prob">
  <div class="center"  *ngIf="loading == 'show'">
      <img class="center" src="assets/YCZH.gif" />
  </div>

<div fxLayoutAlign="center center" fxFlexFill class="main-div" *ngIf="loading == 'hide'">
  <table class="table table-striped center" >
      <thead>
        <tr >
          <th scope="col">Type</th>
          <th scope="col">Status</th>
          <th scope="col">Date creation</th>
          <th scope="col">Options</th>
          <th scope="col"></th>
          
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let problem of Test">
              <td>{{problem.type}}</td>
              <td >
               
               
               

                <div *ngIf="problem.statut === 'Treated'" class="example-button-container">
                  <button mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
                    <mat-icon>done_outline</mat-icon>
                  </button>
                </div>

                <div *ngIf="problem.statut === 'Inprogress'" class="example-button-container">
                  <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
                    <mat-icon>hourglass_empty</mat-icon>
                  </button>
                </div>

                <div *ngIf="problem.statut === 'New'" class="example-button-container">
                  <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                    <mat-icon>visibility_off</mat-icon>
                  </button>
                </div>
              
              <td>{{problem.date_creation}}</td>
            <td >
              
              
              <div class="example-button-container">
                <button  [routerLink]="['/Details',problem.id]" mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
                  <mat-icon>info</mat-icon>
                </button>
              </div>
        </td> 
        <td>
        	<div class="example-button-container">
            <button (click)="openDialog(problem.id)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
              <mat-icon >delete</mat-icon>
            </button>
          </div>
          
         </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>