<div class="top">
  <mat-progress-bar mode="indeterminate" *ngIf="check"></mat-progress-bar>
  <p *ngIf="used" style="color: red;">Email already used </p>
    <form #updateForm="ngForm" #taskNewForm="ngForm" (ngSubmit)="onSubmit();">
        
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Full_name</mat-label>
                <input name="Full_name" #Full_name="ngModel" [(ngModel)]="Us.Full_name"required type="text" matInput 
                       placeholder="First name Second name">
               
                <mat-error *ngIf="!Full_name.valid && Full_name.touched">
                  Please enter a valid Full Name 
                </mat-error>
              </mat-form-field>
<p></p>

           
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input name="email" #email="ngModel" [email]="true" [(ngModel)]="Us.email" required type="email" matInput 
                       placeholder="Ex. pat@example.com">
                <mat-error *ngIf="email.invalid && email.touched && !used">
                  Please enter a valid email address
                </mat-error>

              </mat-form-field>
             

             
         
            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telephone</mat-label>
                <span style="color: black;" matPrefix>+216 &nbsp;</span>
                <input name="phone_number" #phone_number="ngModel" [(ngModel)]="Us.phone_number" required type="tel" matInput placeholder="51 316 603">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>
           


              
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input  name="password" #password="ngModel" [(ngModel)]="Us.password" required type="password" matInput 
                       placeholder="**********">
                <mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="!password.valid && password.touched">
                  Please enter a password
                </mat-error>
               
              </mat-form-field>

<br/>
          
            
            <div class="mb-3">
              
              <input (change)="handleFiles($event)" accept=".png,.jpg" class="form-control" type="file" id="formFile">
            </div>

            

            <button type="button" (click)="onNoClick()" class="btn btn-danger" >Cancel</button>
            <input type="submit"  value="Send" name="send" class="btn btn-success" [disabled]="!updateForm.form.valid ">
        </div>

    </form>
    
</div>

