
<div mat-dialog-content>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <p class="cent"><b>first of all you need to add a problem</b></p>
        <form #updateForm="ngForm"  #taskNewForm="ngForm" (ngSubmit)="onSubmit();" class="top">
            <div class="form-group">
               
                <select required class="form-control" name="status" #status="ngModel" [(ngModel)]="Rec.type" required>
                  <option>phone problems</option>
                  <option>informations</option>
                  <option  >internet problems</option>
                </select>
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" rows="3" name="description" #description="ngModel" [(ngModel)]="Rec.description"  required></textarea>
              <span *ngIf="!description.valid && description.touched">you have to describe your problem</span>
            </div>
           
            
          
        
       <div>
        <button type="button"  class="right" mat-button matStepperNext>Skip</button>
        <button type="submit" value="Add" name="send" [disabled]="!updateForm.form.valid" class="right" mat-button matStepperNext>Add</button>
        
    </div>
</form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">

      <p class="cent">After adding a problem it will pass with three states</p>
      <table>
        <tr>
          <td>
      <div class="in"><span class="p"><b>New</b></span></div>
      <div  class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </div> 
    </td>
          <td>
      <div >
<div class="in"><span class="p"><b>In progress</b></span></div>

      <div  class="example-button-container">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a filter list icon">
          <mat-icon>hourglass_empty</mat-icon>
        </button>
      </div>
    </div>
  </td>
  <td>
      
      <div class="in "><span class="p"><b>Treated</b></span></div>
      <div class="example-button-container">
        <button mat-mini-fab color="success" aria-label="Example icon button with a filter list icon">
          <mat-icon>done_outline</mat-icon>
        </button>
      </div>
    
  </td>
  </tr>
  </table>
<div>
        <div class="left">
          <button  mat-button matStepperPrevious>Back</button>
        </div>
        <div class="right">
          <button  mat-button matStepperNext>Next</button>
        </div>
    </div>
     
    </mat-step>
    <mat-step>
      <ng-template matStepLabel></ng-template>
     

      <p class="cent">After adding your problem it's just matter of time before its treated we have 24/7 support team we will try and fix your problem remotely else we will contact you for more details</p>


      <div>
      <div class="left">
        <button  mat-button matStepperPrevious>Back</button>
      </div>
       
        <div class="right">
            <button mat-button (click)="onNoClick()" >Ok Thanks</button>
          </div>
        </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
