<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<body class="hide">
  <nav class="navbar navbar-expand-lg" [ngClass]="{ scrolled: scrolled }" style="padding: 45px;">
      <div class="container-fluid bg-white" style="padding: 15px; color: black;">
        <a class="navbar-brand" href="#">
            <img src="assets\n.png" alt="" width="70" height="50" style="margin-right: 8px;">
            <div>
              <span class="logo-text">Nimss</span>
              <div class="logo-sub">Project</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']">Home
                <span class="visually-hidden" >(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']">About
                <span class="visually-hidden" >(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']">Team
                <span class="visually-hidden" >(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']">Services
                <span class="visually-hidden" >(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link " [routerLink]="['/home']">Contact
                <span class="visually-hidden" >(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/add']"  *ngIf="identity && user">Add problem</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/list'] "  *ngIf="identity ">List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/dashbord']"  *ngIf="identity && employe || admin">dashbord</a>
            </li>


          </ul>
          <form>
            <div *ngIf="!identity" class="d-flex" style="position: relative;">
              <button class="btn btn-login my-2 my-sm-0" [routerLink]="['/login'] " >Login</button>
              <p style="position: absolute;right: 0;width: 250px; top: -57px;font-weight: 700;font-size: 15px;letter-spacing: -0.5px;text-align: right;">Still not member? <a style="color: #ffab4f;text-decoration: none; " [routerLink]="['/signup']">Sign up now</a></p>
            </div>
            <input type="button" value="Logout" class="btn btn-danger" *ngIf="identity" (click)='logout()' />
          </form>
        </div>
      </div>
  </nav>

  <div class="main" [ngClass]="{ home: isHome }">
    <router-outlet></router-outlet>
  </div>
</body>