.center {
    margin-top: 5%;
    text-align: center;
  }
  span{
    border-radius: 25px;
    display: inline-block;
    text-align: center;
  }
  td,tr{
    vertical-align: middle;
    text-align: center;
   }
   table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 5px;
  }
  .form-select{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }